<phpunit bootstrap="./vendor/autoload.php"
         beStrictAboutTestsThatDoNotTestAnything="true"
         beStrictAboutChangesToGlobalState="true"
         forceCoversAnnotation="true"
         stopOnRisky="false"
         backupGlobals="false">
    <php>
        <ini name="display_errors" value="true"/>
        <ini name="date.timezone" value="Europe/London"/>
    </php>
    <testsuites>
        <testsuite name="cleanCode">
            <directory suffix="Test.php">test/cleancode</directory>
        </testsuite>
        <testsuite name="DB">
            <directory suffix="Test.php">test/db</directory>
        </testsuite>
        <testsuite name="validation">
            <directory suffix="Test.php">test/validation</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>
</phpunit>
