{# main.html.twig #}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Main page for AJAX tests</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
</head>

<body>
<p>
Content loaded via mark-up is here:
<div id="markupContent">This is content loaded via mark-up</div>
</p>
<p>
Content loaded via JavaScript will go here:
<div id="jsContent">This is pre-load placeholder content</div>
</p>
<script src="/lib/js/ajaxHandler.js"></script>
</body>
</html>
