{# main.html.twig #}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Main page for AJAX tests</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
</head>

<body>
Results will go here:
<div id="results">Preload placeholder</div>
<script src="/lib/js/ajaxHandler.js"></script>
</body>
</html>
