<phpunit backupGlobals="false" bootstrap=".\vendor\autoload.php">
    <testsuites>
        <testsuite name="Puzzle">
            <directory>./test</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">.\src</directory>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-text" target="php://stdout" showUncoveredFiles="true"/>
        <log type="coverage-html" target="../../../www/code-coverage-reports/puzzle/20160826" showUncoveredFiles="true"/>
    </logging>
</phpunit>
