<phpunit backupGlobals="false" bootstrap="test/bootstrap.php">
    <ini name="display_errors" value="true"/>

    <testsuites>
        <testsuite name="all">
            <directory suffix="Test.php">test</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>
</phpunit>
