body {
	font-family : "Coming Soon";
}

h1 {
	color : CornflowerBlue;
	padding-left : 10em;
	font-size : 36px;
	text-decoration : underline;
	text-shadow : 2px 2px black;
}

table.season {
	font-size : 24px;
	font-weight : bold;
	width : 100%;
	border-spacing : 0;
}

th {
	border-top : solid 1px black;
	border-right : solid 1px black;
	padding : 7px;
}

th:first-child {
	border-left : solid 1px black;
}

td {
	border-top : 4px solid;
	border-bottom : 4px solid;
	border-left : 2px solid;
	border-right : 2px solid;
	padding : 7px;
}

td {
	min-width : 2em;
	text-align : center;
}

.teamName {
	width : 75%;
	text-align : left;
	padding-left : 1em;
}

td .prev {
	padding-left : 0.5em;
	font-size : 75%;
	vertical-align : top;

}

tr.BOU {
	background-color : red;
	color: black;
}

tr.BOU td {
	border-color : #0543d1;
}

tr.ARS {
	background-color : #ED1B24;
	color: #FFFDFA;
}

tr.ARS td {
	border-color : rgb(252,220,39);
}

tr.BUR {
	background-color : #7f1734;
	color: #9DBAFC;
}

tr.BUR td {
	border-color : 	#98ccff;
}

tr.CHE {
	background-color : rgb(14,30,125);
	color: white;
}

tr.CHE td {
	border-color : 	black;
}

tr.CRY {
	background-color : blue;
	color: red;
}

tr.CRY td {
	border-color : 	#ffd801;
}

tr.EVE {
	background-color : #274488;
	color: white;
}

tr.EVE td {
	border-color : 	black;
}

tr.HUL {
	background-color : #F5971D;
	color: black;
}

tr.HUL td {
	border-color : 	black;
}

tr.LEI {
	background-color : #0053A0;
	color: white;
}

tr.LEI td {
	border-color : red;
}

tr.LIV {
	background-color : #D00027;
	color: white;
}

tr.LIV td {
	border-color : #1d1e22;
}

tr.MCI {
	background-color : #6CADDF;
	color: white;
}

tr.MCI td {
	border-color : black;
}

tr.MUN {
	background-color : red;
	color: white;
}

tr.MUN td {
	border-color : #2323a6;

}

tr.MID {
	background-color : red;
	color: white;
}

tr.MID td {
	border-color : #0a0d26;

}

tr.SOU {
	background-color : red;
	color: white;
}

tr.SOU td {
	border-color : black;

}

tr.STO {
	background-color : red;
	color: white;
}

tr.STO td {
	border-color : #3399ff;

}

tr.SUN {
	background-color : red;
	color: white;
}

tr.SUN td {
	border-color : white;

}

tr.SWA {
	background-color : white;
	color: black;
}

tr.SWA td {
	border-color : #2ab8ff;

}

tr.TOT {
	background-color : white;
	color: #0F204B;
}

tr.TOT td {
	border-color : #000040;
}

tr.WAT {
	background-color : #FBEE23;
	color: black;
}

tr.WAT td {
	border-color : white;
}

tr.WBA {
	background-color : white;
	color: #00003A;
}

tr.WBA td {
	border-color : black;
}

tr.WHU {
	background-color : #7C2C3B;
	color: white;
}

tr.WHU td {
	border-color : white;
}
